@model PerfilCreateModelNew
@{
    ViewData["Action"] = "Editar";
}
<style>
    input {
        text-transform: uppercase;
    }
</style>


<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h3 class="fw-bolder mb-0">Datos Básicos</h3>
            <input type="hidden" id="aBuscarGrilla" value="@ViewBag.vNuevo" />
        </div>
        <div class="card-toolbar">
            <a asp-controller="Perfil" asp-action="Index" class="btn btn-sm btn-flex btn-light btn-active-primary me-2">
                <i class="las la-arrow-left fs-3"></i> Regresar
            </a>
            <button id="kt_save_button" type="submit" class="btn btn-sm btn-success me-2 oculto-acci p-ins">
                <span class="indicator-label">Guardar</span>
                <span class="indicator-progress">Guardando Registro... <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
        </div>
    </div>
    <div class="card-body pt-5">
        <form id="kt_form_add" class="form" asp-controller="Perfil" asp-action="RegistrarPerfil" method="post" novalidate="novalidate">
            @if (@ViewBag.IsEdit)
            {
                <input type="hidden" asp-for="nIdRol" />
            }
            <div class="row g-9 mb-7">
                <div class="col-md-12 fv-row">
                    <label class="required fs-6 fw-bold mb-2">Nombre de Rol</label>
                    <input type="text" id="cNombreRol" asp-for="cNombreRol" autocomplete="off" minlength="5" maxlength="200" class="form-control form-control-solid" />
                </div>
            </div>

        </form>

        <div class="row g-8" id="dvListaModulo" name="dvListaModulo">
            <div class="col-lg-12">
                <table id="kt_menu_table" class="table table-striped border table-row-bordered gy-2 gs-4 align-middle">
                    <thead>
                        <tr class="text-center text-muted fw-bolder fs-7 text-uppercase gs-0">
                            <th style="background-color:#001540"  class="text-center">Id Menú</th>
                            <th style="background-color:#001540"  class="text-center">Modulo</th>
                            <th style="background-color:#001540" class="text-center">Menu</th>
                            <th style="background-color:#001540"  class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="kt_modal_menu_acciones" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form id="kt_modal_menu_acciones_form" class="form" asp-controller="Perfil" asp-action="RegistrarPerfilAccion" novalidate="novalidate">
                <input type="hidden" id="nIdMenuAccion" name="nIdMenuAccion" />
                <input type="hidden" id="nIdRolAccion" name="nIdRolAccion" />
                <input type="hidden" id="nIdRol" name="nIdRol" />
                <input type="hidden" id="ListaAcciones" name="ListaAcciones[]" />
                <input type="hidden" id="cIdAccion" name="cIdAccion" />
                
                <div class="modal-header">
                    <h2>Agregar Acciones Menú</h2>
                    <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                        <i class="las la-times"></i>
                    </div>
                </div>
                <div class="modal-body py-lg-10 px-lg-10">
                    <div class="row g-8">
                        <div class="col-lg-12">
                            <table id="kt_acciones_table" class="table table-striped border table-row-bordered gy-2 gs-4 align-middle">
                                <thead>
                                    <tr class="text-center text-muted fw-bolder fs-7 text-uppercase gs-0">
                                        <th style="background-color:#001540"  class="text-center">Id</th>
                                        <th style="background-color:#001540"  class="text-center">Nombre</th>
                                        <th style="background-color:#001540" class="text-center">Acciones &nbsp;&nbsp; (Seleccionar todos)<input type="checkbox" title="Seleccionar todos" id="select_all"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                    <button id="kt_save_acciones_button" type="submit" class="btn btn-primary">
                        <span class="indicator-label">Grabar</span>
                        <span class="indicator-progress">Registrando registros... <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/assets/plugins/datatables/datatables.bundle.js"></script>
    <script src="~/assets/js/registro-perfil.js"></script>
}
