@model OperacionViewModel
@{
    ViewData["Title"] = "Bandeja de Operaciones";
}
<div class="card">
    <div class="card-header border-0 pt-6">
        <div class="card-title">
            <h2 class="fw-bolder">Bandeja Operaciones</h2>
        </div>
        <div class="card-toolbar">
            <div class="d-flex justify-content-end" data-kt-operaciones-table-toolbar="base">
              @*  <button type="button" class="btn btn-sm btn-light-primary me-3 open-masivo-operacion p-car" data-bs-toggle="modal" data-bs-target="#kt_operaciones_carga_masiva">
                    <i class="las la-upload fs-3"></i> Carga Masiva
                </button>*@
               @* <a asp-controller="Operacion" asp-action="Registro" class="btn btn-sm btn-primary me-3 p-ins">
                    <i class="las la-plus fs-3"></i> Nuevo Registro
                </a>*@
                <button id="kt_export_button" type="button" class="btn btn-sm btn-primary oculto-acci p-exp-exc">Exportar Registros</button>
            </div>
            @*<div class="d-flex justify-content-end align-items-center d-none" data-kt-operaciones-table-toolbar="selected">
                <div class="fw-bolder me-5">
                    <span class="me-2" data-kt-operaciones-table-select="selected_count"></span>Seleccionados
                </div>
            </div>*@
        </div>
    </div>
    <div class="card-body pt-5">
        <form id="kt_search_form" class="form w-100 mt-5 mb-15 align-items-center">
            <div class="row g-9 mb-7">
                <div class="col-lg-4">
                    <div class="position-relative">
                        <span class="position-absolute top-50 translate-middle ms-6">
                            <i class="las la-filter fs-3"></i>
                        </span>
                        <input type="text" asp-for="NroOperacion" class="form-control form-control-solid ps-10" maxlength="11" placeholder="Buscar por Nro Operación">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="position-relative">
                        <span class="position-absolute top-50 translate-middle ms-6">
                            <i class="las la-filter fs-3"></i>
                        </span>
                        <input type="text" asp-for="RazonGirador" class="form-control form-control-solid ps-10" maxlength="200" placeholder="Buscar por Girador">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="position-relative">
                        <span class="position-absolute top-50 translate-middle ms-6">
                            <i class="las la-filter fs-3"></i>
                        </span>
                        <input type="text" asp-for="RazonAdquiriente" class="form-control form-control-solid ps-10" maxlength="200" placeholder="Buscar por Aceptante">
                    </div>
                </div>
            </div>
            <div class="row g-9 mb-7">
                <div class="col-lg-4">
                    <div class="position-relative">
                        <span class="position-absolute top-50 translate-middle ms-6">
                            <i class="las la-filter fs-3"></i>
                        </span>
                        <input type="text" asp-for="FechaCreacion" class="form-control form-control-solid ps-10" placeholder="Buscar por Fecha de Registro">
                    </div>
                </div>
                <div class="col-lg-4">
                    <select asp-for="Estado" asp-items="@(new SelectList(ViewBag.Estados, "nId", "cNombre"))" data-control="select2" aria-label="Estados" data-placeholder="Estados" class="form-select form-select-solid fw-bolder">
                        <option value="">Seleccionar</option>
                    </select>
                </div>
                <div class="col-lg-4 text-center">
                    <button id="kt_search_button" type="button" class="btn btn-warning ocuto-acci p-con">
                        <span class="indicator-label">Buscar</span>
                        <span class="indicator-progress">Buscando... <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                    </button>
                    <button id="kt_search_clear" type="button" class="btn btn-light">
                        <span>Limpiar</span>
                    </button>
                </div>
            </div>
        </form>
        <div class="row g-8">
            <div class="col-lg-12">
                <table id="kt_operaciones_table" class="table table-striped border table-row-bordered gy-2 gs-4 align-middle">
                    <thead>
                        <tr class="text-center text-muted fw-bolder fs-7 text-uppercase gs-0">
                            <th class="text-center" style="background-color:#001540">
                                <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                                    <input class="form-check-input" type="checkbox" data-kt-check="true" data-kt-check-target="#kt_operaciones_table .form-check-input" value="1" />
                                </div>
                            </th>
                            <th class="text-center" style="background-color:#001540">Operación</th>
                            <th class="text-center" style="background-color:#001540">Girador</th>
                            <th class="text-center" style="background-color:#001540">Aceptante</th>
                            <th class="text-center" style="background-color:#001540">Fecha Registro</th>
                            <th class="text-center" style="background-color:#001540">Estado Operación</th>
                            <th class="text-center" style="background-color:#001540">Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="kt_modal_evaluacion_operacion" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form id="kt_modal_evaluacion_form" class="form" asp-controller="Operacion" asp-action="ResultadoEvaluacion" novalidate="novalidate">
                <input type="hidden" id="nIdOperacionEval" name="nIdOperacionEval" />
                <div class="modal-header">
                    <h2>@ViewBag.TituloModal</h2>
                    <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                        <i class="las la-times"></i>
                    </div>
                </div>
                <div class="modal-body py-lg-10 px-lg-10">
                    <div class="flex-row-fluid">
                        <div class="w-100">
                            <div class="fv-row mb-5">
                                <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                                    <span class="required">Estados de operación</span>
                                </label>
                                <select id="nIdEstadoEvaluacion" name="nIdEstadoEvaluacion" asp-items="@(new SelectList(ViewBag.EstadoEvaluacion, "nId", "cNombre"))" data-control="select2" aria-label="Seleccionar" data-placeholder="Seleccionar" class="form-select form-select-solid fw-bolder">
                                    <option value="">Seleccionar</option>
                                </select>
                            </div>

                            <div class="fv-row mb-5">
                                <textarea id="cComentario" name="cComentario" class="form-control form-control-solid" rows="4" maxlength="3000" placeholder="Ingresar comentario..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                    <button id="kt_save_estado_button" type="submit" class="btn btn-primary">
                        <span class="indicator-label">Grabar</span>
                        <span class="indicator-progress">Registrando registros... <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



<div id="kt_modal_calcular_operacion" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form id="kt_modal_calcular_operacion_form" class="form" asp-controller="Operacion" asp-action="CalcularMonto" novalidate="novalidate">
                <div class="modal-header">
                    <h2>Calcular Montos de facturas</h2>
                    <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                        <i class="las la-times"></i>
                    </div>
                </div>
                <div class="modal-body py-lg-10 px-lg-10">
                    <div class="flex-row-fluid">
                        <div class="w-100">

                            <div class="fv-row mb-5" style="display:none">
                                <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                                    <span class="required">Código Operación</span>
                                </label>
                                <input asp-for="nIdOperacionCal" class="form-control form-control-solid ps-10" readonly>
                            </div>

                            <div class="fv-row mb-5">
                                <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                                    <span class="required">Nro Operación</span>
                                </label>
                                <input asp-for="nNroOperacionCal" class="form-control form-control-solid ps-10" readonly>
                            </div>
                            <div class="fv-row mb-5">
                                    <div class="position-relative">
                                    <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                                        <span class="required">Fecha</span>
                                    </label>
                                        <span class="position-absolute top-50 translate-middle ms-6">
                                            <i class="las la-filter fs-3"></i>
                                        </span>
                                    <input type="text" asp-for="cFechaCalculo" class="form-control form-control-solid ps-10" placeholder="Buscar por Fecha de Calculo">
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-body py-lg-10 px-lg-10" id="dvListaCalculo" name="dvListaCalculo">
                    <div class="row g-8">
                        <div class="col-lg-12">
                            <table id="kt_monto_calculado_table" class="table table-striped border table-row-bordered gy-2 gs-4 align-middle">
                                <thead>
                                    <tr class="text-center text-muted fw-bolder fs-7 text-uppercase gs-0">
                                        <th style="background-color:#001540" class="text-center">Factura</th>
                                        <th style="background-color:#001540" class="text-center">Desembolso</th>
                                        <th style="background-color:#001540" class="text-center">Interés</th>
                                        <th style="background-color:#001540" class="text-center">Monto de Servicio</th>
                                        <th style="background-color:#001540" class="text-center">Moratorio</th>
                                        <th style="background-color:#001540" class="text-center">Devolución</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                    <button id="kt_save_calculo_button" type="submit" class="btn btn-primary">
                        <span class="indicator-label">Calcular</span>
                        <span class="indicator-progress">calculando montos... <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


@*<div id="kt_factura_monto_modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form id="kt_modal_evaluacion_form" class="form" asp-controller="Operacion" asp-action="ActualizarMontoFactura" novalidate="novalidate">
                <input type="hidden" id="nIdOperaciones" name="nIdOperaciones" />
                <input type="hidden" id="nIdOperacionesFacturas" name="nIdOperacionesFacturas" />
                <div class="modal-header">
                    <h2>Actualización monto de Factura</h2>
                    <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                        <i class="las la-times"></i>
                    </div>
                </div>
                <div class="modal-body py-lg-10 px-lg-10">
                    <div class="flex-row-fluid">
                        <div class="w-100">
                            <div class="fv-row mb-5">
                                <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                                    <span class="required">Monto</span>
                                </label>
                                <input type="text" asp-for="nMonto" class="form-control form-control-solid" placeholder="0.00" maxlength="10" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                    <button id="kt_save_monto_button" type="submit" class="btn btn-primary">
                        <span class="indicator-label">Grabar</span>
                        <span class="indicator-progress">Registrando registros... <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>*@
@section Scripts {
    @* <script src="~/assets/plugins/datatables/datatables.bundle.js?v=" + DateTime.Now.Ticks></script> *@
    <script src="@(Url.Content("~/assets/js/registro-operacion.js")+"?v=" + DateTime.Now.Ticks)"></script>
}