@if (ViewData["Action"] == "Editar")
{
    <form id="kt_form_add_factura" class="form" asp-controller="Operacion" asp-action="AgregarFacturas" enctype="multipart/form-data" method="post" novalidate="novalidate">
        <input type="hidden" id="IdOperacionCabeceraFacturas" name="IdOperacionCabeceraFacturas" />
        <input type="hidden" id="nIdGiradorFact" name="nIdGiradorFact" value=@ViewBag.IdGiradorCod />
        <input type="hidden" id="nIdAdquirenteFact" name="nIdAdquirenteFact" value=@ViewBag.IdAdquirienteCod />
        <div class="row g-9 mb-7">
            <div class="col-md-8 fv-row">
                <label class="required fs-6 fw-bold mb-2">Adjuntar Archivo XML</label>
                <input type="file" id="fileXml" name="fileXml" accept="text/xml" class="form-control form-control-solid" required="required" data-fv-not-empty___message="Archivo XML es obligatorio" />
            </div>
            <div class="col-md-4 fv-row d-flex justify-content-center align-items-center">
                <div>
                    <button id="kt_add_factura" type="button" class="btn btn-sm btn-primary btn-ins">
                        <span class="indicator-label">Agregar</span>
                        <span class="indicator-progress" >Agregando Registro... <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <input type="hidden" id="Action" value="@ViewData["Action"]" />
}


<table id="kt_facturas_table" class="table table-striped border table-row-bordered gy-2 gs-4 align-middle">
    <thead>
        <tr class="text-center fw-bolder fs-8 text-uppercase gs-0">
            <th class="text-center">Factura</th>
            <th class="text-center">Importe factura</th>
            <th class="text-center">Fecha Emisión</th>
            <th class="text-center">Fecha de Vencimiento</th>
            <th class="text-center">Fecha Pago Negociado</th>
            <th class="text-center">Nombre Archivo</th>
            <th class="text-center">Estado</th>
            <th class="text-center">Acción</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div id="kt_factura_monto_modal" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <form id="kt_modal_evaluacion_form" class="form" asp-controller="Operacion" asp-action="ActualizarMontoFactura" enctype="multipart/form-data" method="post" novalidate="novalidate">
                <input type="hidden" id="nIdOperaciones" name="nIdOperaciones" />
                <input type="hidden" id="nIdOperacionesFacturas" name="nIdOperacionesFacturas" />
                <div class="modal-header">
                    <h2>Actualización monto de Factura</h2>
                    <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                        <i class="las la-times"></i>
                    </div>
                </div>
                <div class="modal-body py-lg-10 px-lg-10">
                    <div class="flex-row-fluid">
                        <div class="w-100">
                            <div class="fv-row mb-5">
                                <label class="d-flex align-items-center fs-5 fw-bold mb-2">
                                    <span class="required">Monto</span>
                                </label>
                                <input type="text" id="nMonto"  name="nMonto"  class="form-control form-control-solid" placeholder="0.00" maxlength="10" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
                    <button id="kt_save_monto_button" type="submit" class="btn btn-primary">
                        <span class="indicator-label">Grabar</span>
                        <span class="indicator-progress">Registrando registros... <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/assets/plugins/datatables/datatables.bundle.js"></script>
    <script src="~/assets/js/registro-operacion.js"></script>
}