<div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
    <div class="text-dark order-2 order-md-1">
        <span class="text-muted fw-bold me-1">@DateTime.Now.Year ©</span>
        <a href="javascript:;" class="text-gray-800 text-hover-primary">Factoring + Perú</a>
    </div>
</div>