@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@
@{
    ViewData["Title"] = "Dashboard";
}
<div class="card">

  @*  <div class="card-header  border-0 pt-6">
        <div class="card-title">
            <h2 class="fw-bolder">Dashboard</h2>
        </div>
    </div>
    <div class="card-body pt-5">
        <div class="row">
            <div class="col-md-6 py-5">
                <table id="kt_table_1" class="table table-striped border table-row-bordered table-light">
                    <thead class="table-dark">
                        <tr class="text-center">
                            <th colspan="4">Actuales</th>
                        </tr>
                        <tr class="text-center">
                            <th>Estatus</th>
                            <th>Total Facturas Actuales</th>
                            <th>Total Monto USD</th>
                            <th>Total Monto SOLES</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>


                <table id="kt_table_2" class="table table-striped border table-row-bordered table-light">
                    <thead class="table-dark">
                        <tr class="text-center">
                            <th colspan="4">Historico</th>
                        </tr>
                        <tr class="text-center">
                            <th>Estatus</th>
                            <th>Historial Facturas </th>
                            <th>Total Monto USD</th>
                            <th>Total Monto SOLES</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>


                <table id="kt_table_3" class="table table-striped border table-row-bordered table-light">
                    <thead class="table-dark">
                        <tr class="text-center">
                            <th colspan="4">Stock Operaciones</th>
                        </tr>
                        <tr class="text-center">
                            <th>Estatus</th>
                            <th>Total Facturas </th>
                            <th>Total Monto USD</th>
                            <th>Total Monto SOLES</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 py-5">

                <table id="kt_table_4" class="table table-striped border table-row-bordered table-light">
                    <thead class="table-dark">
                        <tr class="text-center">
                            <th colspan="4">Gestión Cobranza</th>
                        </tr>
                        <tr class="text-center">
                            <th>Estatus</th>
                            <th>Total Facturas </th>
                            <th>Total Monto USD</th>
                            <th>Total Monto SOLES</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>


                <table id="kt_table_5" class="table table-striped border table-row-bordered table-light">
                    <thead class="table-dark">
                        <tr class="text-center">
                            <th colspan="4">Desestimaciones</th>
                        </tr>
                        <tr class="text-center">
                            <th>Estatus</th>
                            <th>Total Facturas </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>


                <table id="kt_table_6" class="table table-striped border table-row-bordered table-light">
                    <thead class="table-dark">
                        <tr class="text-center">
                            <th colspan="4">Nuevos</th>
                        </tr>
                        <tr class="text-center">
                            <th>Registros</th>
                            <th>Total </th>
                            <th>Mes </th>
                            <th>Activo Mes </th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
      </div>*@
</div>
@*@section Scripts {
    <script src="~/assets/plugins/datatables/datatables.bundle.js"></script>
    <script src="~/assets/js/dashboard.js"></script>
}
*@